
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 55px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 35px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dark-1{
    color: #8987A1;
}
.font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    margin: 100px 55px;
    justify-content: space-between;
}
.banner{
    width: 570px;
    height: 300px;
}
.banner-title{
    font-size: 4.5em;
    margin-bottom: 0;
}
.orange{
    color: #E95A08;
}
.banner-description{
    font-size: 1.5em;
}
.products{
   margin: 100px 55px;
    text-align: center;
}
.pro-title{
    font-size: 3.5em;
}
.pro-des{
    font-size: 1.75em;
}
.product{
    width: 270px;
    height: 100%;
    border: 1px solid #e95a084d;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 0px;
}
.lily{
    font-size: 1.75em;
    font-weight: 520;
    color: #111111;
    text-align: center;
}
.usd{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.btn{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 14px 75px;
    font-size: 18px;
    cursor: pointer;
    font-size: 1.10em;
    width: 100%;
}
.flower-lover{
    margin: 100px 55px;
}
.plant-lover{
    display: flex;
    gap: 20px;
}
.badge{
    height: 300px;
    margin-left: 400px;
    margin-top: -200px;
}
.plant-lover-right{
    padding: 20px;
}
.plant-lover-title{
    font-size: 4em;
}
.plant-lover-description,
.deal-description,
.footer-description{
    font-size: 1.75em;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: #8987A1;
}
.plant-deal{
   margin: 100px 55px;
   text-align: center;
}
.deal-title{
    font-size: 3.5em;
}
.img-1{
    grid-area: img-1;
}
.img-2{
    grid-area:img-2;
}
.img-3{
    grid-area:img-3;
}
.img-container{
    display: grid;
    grid-template-areas: 
    "img-1 img-3"
    "img-2 img-3";
    gap: 48px 30px;
    justify-content: center;
    margin-top: 100px;
}
.img-container div img{
    border-radius: 20px;
}
.img-text{
    margin-left: 50px;
    margin-top: -110px;
    color: white;
    font-size: 1.5em;
    
}
.img-1, .img-2, .img-3{
    filter: brightness(70%);
}


.join{
    background-image:url(../assignment-2/assets/news-letter-bg.png);
    width: 100%;
    height:533px ;
    text-align: center;
}



.bunch{
    text-align: center;
    margin-top: -400px;
}
.join-title{
    color: white;
    font-size: 4em;
}
.email{
    width: 630px;
    height: 50px;
    font-size: 1em;
    padding-left: 15px;
    border: none;
}
.btn-2{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 16px 70px;
    font-size: 18px;
    cursor: pointer;
    font-size: 1.10em;
}

footer{
   justify-content: center;
}
.footer-container{
    display: flex;
    width: 1150px;
    height: 248px;
     margin: 40px 100px;
     justify-content: space-between;
}
footer ul li{
  list-style: none;
  margin-bottom: 29px;
  font-size: 18px;
}
.logo img{
    margin-right: 20px;
}







@media screen and (max-width:576px) {
    nav ul .none, .badge{
        display: none;
    }
    header{
        flex-direction: column-reverse;
        gap: 50px;
        margin: 0px;
    }
    nav{
        margin: 0px;
    }
    body{
        width: 390px;
        padding: 5px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .banner{
        justify-content: center;
        font-size: 1em;
        height: 200px;
        width: 100px;
    }
    header, .products{
        margin: 1px;
        gap: 0px;
        
    }
    .products{
        margin: 0px;
        margin-top: 100px;
    }
    .banner-title,
    .pro-title{
       
        font-size: 2.55em;
    }
    .banner-description,
    .pro-des{
        font-size: 1em;
        width: 350px;
        
    }
    .product{
       width: 170px;
       gap: 20px;
       height: auto;
       gap: 20px;
    }
    .product img{
        width: 100%;
        gap: 20px;
    }
    .btn{
        padding: 10px 30px;
        font-size: 1em;
    }
    .flower-lover{
        margin-top: 100px;
        margin: 0px;
        justify-items: center;
    }
    .plant-lover{
        display: block;
        width: 350px;
        margin-top: 40px;
    }
    .plant-lover img{
        width: 310px;
    }
    .plant-lover-right{
        width: 340px;
        padding: 0px;
    }
    .plant-lover-description{
        font-size: 1.5em;
        width: 290px;
        text-align: center;
    }
    .img-container{
        display: block;
        margin-top: 40px;
    }
    .img-container img{
        width: 100%;
        margin-top: 60px;
    }
    .plant-deal{
        margin: 0px;
    }
    .join img{
        width: 393px;
        height: 310px;
        margin-top: 100px;
    }
    .join-title{
        font-size: 2em;
    }
    .bunch{
        margin-top: -260px;
    }
    .email{
         width: 220px;
         height: 50px;
    }
    .btn-2{
        padding: 5px 10px;
        cursor: pointer;
        font-size: 1em;
    }
    .join-box{
        display: flex;
        justify-content: center;
    }

    .footer-container{
        display: block;
        margin: 0px;
        padding-left: 20px;
        max-width: 340px;
    }
}